#nav-container {
  padding: 2px 0;
  display: flex;
  justify-content: space-evenly;

  background-color: antiquewhite;
  box-shadow: 0 1px 3px 3px rgba(71, 71, 71, 0.329);
}

#nav-div {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}
