<div id="nav-container">
  <app-button id="home-button" text="home" color="red" (btnClick)="goToHome()">
  </app-button>
  <div id="nav-div">
    <app-button
      id="restuarant-button"
      text="restaurants"
      color="red"
      (btnClick)="goToRestaurants()"
    ></app-button>
    <app-button
      id="winkelmandje-button"
      text="maaltijden"
      color="red"
      (btnClick)="goToMeals()"
    ></app-button>
    <app-button
      id="winkelmandje-button"
      text="winkelmandje"
      color="red"
    ></app-button>
  </div>
</div>
