<div class="new-order-container">
  <form class="add-meal-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="text">Opmerking</label>
      <input
        type="text"
        name="comment"
        id="name"
        [(ngModel)]="comment"
        placeholder="Naam Toevoegen"
      />
    </div>
    <div class="form-control">
      <label for="text">Klant</label>
      <select
        type="dropdown"
        name="klant"
        id="customer"
        [(ngModel)]="costumerId"
        placeholder="Naam Toevoegen"
      >
        <option *ngFor="let customer of costumers" value="{{ customer.id }}">
          {{ customer.naam }}
        </option>
      </select>
    </div>
    <button
      id="meal-submit-button"
      type="button"
      class="btn btn-primary"
      (click)="onSubmit()"
    >
      Bestelling Bevestigen
    </button>
  </form>
</div>
