<div class="meals-container">
  <div class="new-meal-container">
    <app-button
      color="{{ showAddMeal ? 'red' : 'green' }}"
      text="{{ showAddMeal ? 'Close' : 'Add' }}"
      (btnClick)="toggleAddMeal()"
    ></app-button>
    <app-add-meal (onAddMeal)="addMeal($event)"></app-add-meal>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Beschrijving</th>
        <th>Calorieen</th>
        <th>Prijs</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let meal of meals">
        <td>{{ meal.id }}</td>
        <td>{{ meal.beschrijving }}</td>
        <td>{{ meal.calorieen }}</td>
        <td>{{ meal.prijs }}</td>
        <td>
          <button class="btn btn-danger" type="button" (click)="delete(meal)">
            Verwijderen
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
