.add-meal-form {
  background-color: whitesmoke;
  padding: 20px 40px 30px 30px;
  margin-top: 10px;
  border-radius: 5px;
}

.btn {
  color: beige;
}

.form-control {
  border: 0px;
  width: auto;
}
