<form *ngIf="showAddMeal" class="add-meal-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">Naam</label>
    <input
      type="text"
      name="name"
      id="name"
      [(ngModel)]="name"
      placeholder="Naam Toevoegen"
    />
  </div>
  <div class="form-control">
    <label for="text">Beschrijving</label>
    <input
      type="text"
      name="description"
      id="description"
      [(ngModel)]="description"
      placeholder="Beschrijving Toevoegen"
    />
  </div>
  <div class="form-control">
    <label for="text">Calorieen</label>
    <input
      type="number"
      name="calories"
      id="calories"
      [(ngModel)]="calories"
      placeholder="Calorieen Toevoegen"
    />
  </div>
  <div class="form-control">
    <label for="text">Prijs</label>
    <input
      type="number"
      name="price"
      id="price"
      [(ngModel)]="price"
      placeholder="Prijs Toevoegen"
    />
  </div>
  <div class="form-control">
    <label for="text">Restaurant</label>
    <select
      type="option"
      name="restaurantId"
      id="restaurantId"
      [(ngModel)]="restaurantId"
      placeholder="Restaurant"
    >
      <option *ngFor="let restaurant of restaurants" [ngValue]="restaurant.id">
        {{ restaurant.naam }}
      </option>
    </select>
  </div>
  <button id="meal-submit-button" type="button" class="btn btn-primary">
    <input type="submit" value="Maaltijd Opslaan" class="btn btn-block" />
  </button>
</form>
